<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.rometools.modules" level="DEBUG" />
	<logger name="com.rometools.utils" level="DEBUG" />
	<logger name="com.rometools.utils" level="DEBUG"/>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>